@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-primary: #ccff00;
  --color-secondary: #1a1a1a;
  
  --font-sans: var(--font-inter);
  --font-display: var(--font-oswald);
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--color-background);
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-primary);
  color: black;
}

.stroke-text {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}